@page "/lead"
@inject LeadPage_VM ViewModel

<link href="css/lead.css" rel="stylesheet" />
<PageTitle>Главная</PageTitle>

<Header />
<div class="main">
    <div class="grid">
        <div class="head">
            <div class="left-cnt">
                <p>Добрый день, @UserContext.name</p>
                <div class="button-cnt">
                    <button class="button-left" @onclick="Add">Добавить нового сотрудника</button>
                    <button class="button-right" @onclick="OpenArchive">Архив</button>
                </div>
            </div>
            <div class="right-cnt">
                <p class="month">@ViewModel.date.ToString("MMMM", Culture.culture)</p>
                <p class="day">@ViewModel.date.Day</p>
            </div>
        </div>
        <div class="list">
            <input placeholder="Поиск" />
            @foreach (var i in ViewModel.installators)
            {
                <div class="list-row" @onclick="() => Select(i.InstallatorID)">
                    <p>@i.LastName @i.FirstName @i.MiddleName</p>
                    <div class="last">
                        <div></div>
                    </div>
                </div>
            }
        </div>
        <div class="window">
            <p style="color: dimgray">Сегодня:</p>
            <div class="window-row">
                <img src="images/done.png" />
                <p>Завершено: 2/26</p>
            </div>
            <div class="window-row">
                <img src="images/time.webp" />
                <p>Ожидают: 11/13</p>
            </div>
            <div class="window-row">
                <img src="images/trouble.webp" />
                <p>Отложено: 0/26</p>
            </div>
        </div>
    </div>
</div>
<Footer />

<Add isVisible="isAddingVisible" isVisibleChanged="AddVisibility" isAddingOrEditing="true" AddInst="AddInst"/>
<Archive isVisible="isArchiveVisible" isVisibleChanged="ArchiveVisibility" installators="ViewModel.GetArchived()"/>
@code {
    private bool isAddingVisible = false;
    private bool isArchiveVisible = false;

    protected override async Task OnInitializedAsync()
    {
        ViewModel.InitializeAsync();
    }

    private void Select(int id)
    {
        NavManager.NavigateTo($"Unit/{id}");
    }

    private void Add() => isAddingVisible = true;

    private void OpenArchive() => isArchiveVisible = true;

    private async Task AddInst(Installator inst) => await ViewModel.AddInst(inst);

    private void AddVisibility() => isAddingVisible = false;
    private void ArchiveVisibility() => isArchiveVisible = false;
}
